<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Release letter for {{employeeName}}</title>
    <style>
      body { font-family: Arial, sans-serif; margin: 40px; color: #333;
      line-height: 1.6; }
    </style>
  </head>
  <body>
    <h2>Release letter for {{employeeName}}</h2>
    <p>Dear {{employeeName}},</p>
    <p>
      Please find enclosed Release letter.
    </p>
    <p><strong>Important:</strong></p>
    <ul>
      <li>Please ensure that you check the entries in your release letter and
        for any queries or concerns, you may approach your HR Manager or Payroll
        Admin.</li>
    </ul>
    <div
      style=" font-family: Arial, sans-serif; font-size: 14px; padding: 20px;"
    >
      <div>
        <div style="color: #555;">Contact HR details:</div>
        <div style="font-weight: bold;">Simran Jha</div>
        <div style="font-weight: bold;">9088473602</div>
      </div>
      <div style="margin-top: 5px">
        <div style="font-weight: bold;">Thanks and Regards,</div>
        <div style="font-weight: bold;">WOODROCK SOFTONIC PVT LTD</div>
      </div>
    </div>
  </body>
</html>